.headerLink.active{
    border-bottom: 2px solid #6900cc;
    color: #6900cc;
    font-weight: bold;
}
.headerLink:hover{
    color: #6900cc;
    cursor: pointer;
    transition: .3s ease-in-out;
}
.headerLink:hover::before{
    width: 100%;
    color: #6900cc;
}