@import "tailwindcss";

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes wave1 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
@keyframes wave2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-60%);
  }
}
@keyframes wave3 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-40%);
  }
}